<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
    <%- include("./partials/header.ejs") %> 
    <main>
            <div class="main-reg-log">
                <h3>Creá tu cuenta:</h3>
                <form class="form-reg-log" action="/login" method="POST" enctype="multipart/form-data">
                    
                    <h2 class="subtitle">Datos</h2>
                    <input type="text" name="name" id="name" placeholder="Nombre y apellido" required>
                
                    <input type="text" name="username" id="username" placeholder="Nombre de usuario" required maxlength="15">
        
                    <input type="email" name="email" id="email" placeholder="correo@correo.com" required>
                    <div>
                        <label for="birthday">Fecha de nacimiento</label>
                        <input type="date" name="birthday" id="birthday" required>
                    </div>
                    <input type="text" name="adress" id="adress" placeholder="Domicilio">
                
                    <h4 class="subtitle">Perfil de usuario</h4>
                    <div class="user-profile">
                        <label for="profile"><input type="radio" name="profile" id="buyer" value="buyer" required> Comprador</label>
                    
                        <label for="profile"><input type="radio" name="profile" id="seller" value="seller" required> Vendedor</label>
                    
                    </div>
                    
                    <h3 class="subtitle">Intereses</h3>
                    <div class="interests">
                        <label for="interests"><input type="checkbox" name="interest1" id="electro" value="electro"> Electro</label>
                        <label for="interests"><input type="checkbox" name="interest2" id="fashion" value="fashion"> Moda</label>
                        <label for="interests"><input type="checkbox" name="interest3" id="home" value="home"> Hogar</label>
                        <label for="interests"><input type="checkbox" name="interest4" id="toystore" value="toystore"> Juguetería</label>
                        <label for="interests"><input type="checkbox" name="interest5" id="healthy" value="healthy"> Vida Sana</label>
                    </div>
                    <h3 class="subtitle">Elegí tu foto de usuario:</h3>
                    <input type="file" name="avatar" id="avatar">
                    
                    <section class="password">
                        <input type="password" name="password" id="password" placeholder="Contraseña" required minlength="5">
                        <input type="password" name="repassword" id="repassword" placeholder=" Reingresa la contraseña" required>
                    </section>
                    <div class="buttons">
                        <input class="button send" type="submit" value="Enviar">
                        <input class="button delete" type="reset" value="Limpiar datos">
                    </div>
                </form>
            </div>
    </main>
    <%- include("./partials/footer.ejs") %> 
</body>

</html>