<footer>
    <div>
        <section>
            <i class="fas fa-credit-card"></i>
            <h3>Pagá con tarjeta y efectivo</h3>
            <p>Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section>
            <i class="fas fa-gift"></i>
            <h3>Envío gratis desde los $ 2.500</h3>
            <p>Solo por estar registrado en Mercado Liebre tenés envios gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section>
            <i class="fas fa-user-shield"></i>
            <h3>Seguridad de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estás siempre protegid@</p>
        </section>
    </div>
    
    <section class='copyright'>
        <p>Copyright ©1999-2020 MercadoLiebre S.R.L</p>
    </section>
</footer>